<ion-view view-title="{{'TABS_NAME_DASHBOARD' | translate}} | {{currentHouse.name}}" >
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                Hello {{currentUser.firstname}} {{currentUser.surname}}
            </div>                 
            <div class="item item-text-wrap">
                Your current balance : <span class="badge badge-positive">+ $20</span>
            </div>               
        </div>     
    </ion-content>
</ion-view>
<a href="#" class="btn-add-expense" ng-click="newExpense()"><i class="ion-plus-circled"></i></a>