<ion-view view-title="{{'TABS_NAME_EXPENSES' | translate}}">
    <ion-content>
        <ion-list>
            <ion-item type="item-text-wrap" href="#">
                <span class="item-title">{{'TABS_NAME_EXPENSES' | translate}}</span>
            </ion-item>
            <div class="button-bar">
                <a class="button button-small" ng-click="getExpenses('all')">All</a>
                <a class="button button-small" ng-click="getExpenses('today')">Today</a>
                <a class="button button-small" ng-click="getExpenses('week')">This Week</a>
                <a class="button button-small" ng-click="getExpenses('month')">This Month</a>
            </div>
            <br />
            <div class="item item-divider">Today</div>
            <ion-item ng-repeat="expense in expenses | orderBy:'-created'" type="item-text-wrap" href="#/tab/expense/{{expense.$id}}">
                <h2>{{expense.purpose}} </h2>
                <p>{{expense.user}}</p>
                <p>{{expense.created | date:'dd-MM-yyyy HH:mm:ss'}}</p>
                <span class="badge badge-balanced">${{expense.amount}}</span>  
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
<a href="#" class="btn-add-expense" ng-click="newExpense()"><i class="ion-plus-circled"></i></a>