<ion-view view-title="{{'TABS_NAME_MEMBERS' | translate}}">
    <ion-content>
        <div class="padding">
            <a class="button icon icon-right ion-chevron-right" href="#/tab/addamember" ng-show="isadmin">Add a member</a>
        </div>
        <ion-list>
            <ion-item ng-repeat="member in members" type="item-text-wrap" href="#/tab/member/{{member.id}}">
                <span class="item-title">{{member.firstnane}}</span>
            </ion-item>
        </ion-list> 
    </ion-content>
</ion-view>
<a href="#" class="btn-add-expense" ng-click="newExpense()"><i class="ion-plus-circled"></i></a>