<ion-view>
    <ion-tabs class="tabs-icon-top tabs-dark">

    <ion-tab title="{{'TABS_NAME_DASHBOARD' | translate}}" icon="ion-home" href="#/tab/dashboard">
    <ion-nav-view name="tab-dashboard"></ion-nav-view>
    </ion-tab>

    <ion-tab title="{{'TABS_NAME_EXPENSES' | translate}}" icon="ion-ios7-information" href="#/tab/expenses">
    <ion-nav-view name="tab-expenses"></ion-nav-view>
    </ion-tab>
        
    <ion-tab title="{{'TABS_NAME_MEMBERS' | translate}}" icon="ion-ios7-information" href="#/tab/members">
    <ion-nav-view name="tab-members"></ion-nav-view>
    </ion-tab>

    <ion-tab title="{{'TABS_NAME_SETTINGS' | translate}}" icon="ion-log-out" href="#/tab/settings">
        <ion-nav-view name="tab-settings"></ion-nav-view>
    </ion-tab>

    </ion-tabs>
    
</ion-view>