<ion-view hide-nav-bar="true">
    <ion-content has-header="false" hide-nav-bar="true" padding="true" has-tabs="false">
        <div class="padding">
            <img src="img/logo.png" class="logo" />
            
            <p class="text-center">
                <button class="button button-positive" ui-sref="signin" nav-clear>
                    {{"SIGNIN" | translate}}
                </button>
                <br />
                <br />
                <a href="#/register" class="button button-assertive">
                    {{"REGISTER" | translate}}
                </a>
            </p>
        </div>
    </ion-content>
</ion-view>