<ion-view view-title="{{'SIGNIN' | translate}}" cache-view="false">
    <ion-content>
        <div class="padding">
            <img src="img/logo.png" class="logo" />
        </div>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">{{"FORM_EMAIL" | translate}}</span>
                <input type="text" ng-model="user.email">
            </label>
            <label class="item item-input">
                <span class="input-label">{{"FORM_PASSWORD" | translate}}</span>
                <input type="password" ng-model="user.password">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="signIn(user)" nav-clear>
                {{"SIGNIN" | translate}}
            </button>
        </div>
    </ion-content>
</ion-view>